[viewBag]
==
<span class="anchor" id="main-platform"></span>
<section class="section versions-section">
    <div class="container">
        <div class="row"> <img src="{{'how-to/02.jpg'|media}}" alt="product" class="img-responsive center-block"> </div>
        <div class="row margin-top">
            <div class="col-md-offset-2 col-md-4 col-sm-6">
                <div class="product-box">
                    {% component 'editable' file='products/coldchain03' %}
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-box">
                    {% component 'editable' file='products/coldchain02' %}
                </div>
            </div>
        </div>
        <div class="row">
            <a href="http://www.otms.com/request-demo" target="_blank">
                <button class="button button-orange center-block">{{demo_text}}</button>
            </a>
        </div>
    </div>
</section>
<span class="anchor" id="driver-app"></span>
<section class="section versions-section bg-cef2f5 no-pad-bot mobile">
    <div class="container">
        <div class="row product">
            <div class="col-md-offset-1 col-md-5 col-sm-6"> <img src="{{'how-to/8cold.png'|media}}" alt="product" class="img-responsive center-block"> </div>
            <div class="col-sm-6">
                <div class="product-box">
                    {% component 'editable' file='products/coldchain04' %}
                </div>
            </div>
        </div>
    </div>
</section>
<span class="anchor" id="consignee-app"></span>
<section class="section versions-section no-pad-bot">
    <div class="container">
        <div class="row product">
            <div class="col-md-offset-1 col-md-5 col-sm-6">
                <div class="product-box">
                    {% component 'editable' file='products/coldchain01' %}
                </div>
            </div>
            <div class="col-md-5 col-sm-6"> <img src="{{'how-to/9cold.png'|media}}" alt="product" class="img-responsive center-block"> </div>
        </div>
    </div>
</section>