<section class="osuper-benefits">
	<div class="title">价 &nbsp; 值</div>
	<div class="center">
		<h1 class="heading"><span>我们的优势</span></h1>
		<ul>
			<li><span class="circle"><em>多</em></span> <span class="label"><em>提高售罄率</em></span></li>
			<li><span class="circle"><em>快</em></span> <span class="label"><em>次日达/次日达</em></span></li>
			<li><span class="circle"><em>好</em></span> <span class="label"><em>全程管控</em></span></li>
			<li><span class="circle"><em>省</em></span> <span class="label"><em>节省运费</em></span></li>
			<li><span class="circle"><em>优</em></span> <span class="label"><em>绿色物流/低碳环保</em></span></li>
		</ul>
		<h1 class="heading"><span>服装巨头<br>共同的选择</span></h1>
		<div class="demo">
			<img class="hidden-xs" src="{{'assets/img/partners.png'|theme}}" alt="">
            <img class="visible-xs" src="{{'assets/img/partners-mobile.jpg'|theme}}" alt="">
		</div>
	</div>
</section>