<section class="brands-container">
	<div class="center">
		<div class="border">
			<ul class="brands">
				<li><figure><img src="{{'assets/img/ico-cloth.png'|theme}}" ><figcaption>品牌1</figcaption></figure></li>
				<li><figure><img src="{{'assets/img/ico-shoe.png'|theme}}" ><figcaption>品牌2</figcaption></figure></li>
				<li><figure><img src="{{'assets/img/ico-cloth.png'|theme}}" ><figcaption>品牌3</figcaption></figure></li>
				<li><figure><img src="{{'assets/img/ico-shoe.png'|theme}}" ><figcaption>品牌4</figcaption></figure></li>
			</ul>
			<div class="orange">城市商圈调拨解决方案-o速配</div>
			<ul class="merchants">
				<li><span>O2O</span></li>
				<li><span>快递</span></li>
				<li><span>物流</span></li>
				<li><span>...</span></li>
			</ul>
		</div>
	</div>
</section>