[viewBag]
==
<section class="cases">
	<div class="title">客户案例</div>
	<div class="center">
		<div class="overview">
		    <p>一家德国五金配件公司如何实现<br>年运费15%的成本节省？</p>
		    <p>让人苦恼的运输优化创新项目，<br>如何在2天内峰回路转？</p>
		</div>
		<div class="before-vs-after">
			<span class="before">Before</span>
			<span class="after">After</span>
		</div>
		<ul>
			<li>
				<div class="half">仅有4家合作多年的承运商，<br>不清楚现在的运费是否契合市场水平</div>
				<div class="half after">基于oTMS平台资源，引入不同行业、区域、专长的丰富运力(新引入9家承运商)</div>
			</li>
			<li>
				<div class="half">大量的低效邮件、电话沟通，复杂繁琐的excel测算</div>
				<div class="half after">线上询价、报价、比价更便捷、更高效，比价测算更快速、更精准</div>
			</li>
			<li>
				<div class="half">整个的招标组织工作冗长、复杂，<br>3个月完成的招标效果还不是特别明显</div>
				<div class="half after">线上招标、比价测算让整个招标在2个月就顺利完成</div>
			</li>
		</ul>
	</div>
</section>