[viewBag]
==
<section class="features">
	<div class="center">
		<h1 class="heading">运力招采的<br>“主治医生”</h1>
		<ul>
			<li>
				<h2>物流经理</h2>
				<div class="half before">
					<p>持续优化运力成本</p>
					<p>现有的承运商资源已经很难满足</p>
				</div>
				<div class="half after">
					<p>多元化承运商资源地</p>
					<p>共享运力进一步优化成本</p>
				</div>
			</li>
			<li>
				<h2>财务总监</h2>
				<div class="half before">
					<p>评标、比价、对账、时核实以往招标记录时也十分困难</p>
				</div>
				<div class="half after">
					<p>价格引擎功能，账单自动生成招标结果与运作价格自动转换</p>
				</div>
			</li>
			<li>
				<h2>供应链总监</h2>
				<div class="half before">
					<p>企业创新、变革、无法更好地进行成本管控和运输过程的管理</p>
				</div>
				<div class="half after">
					<p>更符合业务特征性的优质承运商运输成本透视分析，发掘优化空间</p>
				</div>
			</li>
		</ul>
	</div>
</section>