[viewBag]
==

<script>

	function enableForm(){
		$(".contact-form").removeClass('disabled');
		$(".contact-form input").removeAttr('disabled');
	}
	
	function disableForm(){
		$(".contact-form").addClass('disabled');
		$(".contact-form input").attr('disabled','disabled');
	}
	
	$(document).on("click",".contact-form:not(.disabled) input[type='submit']",function(){
		setTimeout(function(){
			disableForm(); 
		},0)
	})
	
</script>

<div class="contact-form">
    <h1>{{'预约演示'|_}}</h1>
    <form onsubmit="disableForm();  return false;" data-request="onProcess" data-request-update="'common/msgarea-ajax': '#result'" data-request-complete="enableForm();" data-request-success="cleanFieldAfterSubmit()"  accept-charset="UTF-8">
        <div class="form-group">
            <input class="form-control" placeholder="{{'姓名'|_}}" name="name" type="text" style="cursor: auto;"> </div>
        <div class="form-group">
            <input class="form-control" placeholder="{{'手机'|_}}" name="phone" type="tel"> </div>
        <div class="form-group">
            <input class="form-control" placeholder="{{'电子邮箱'|_}}" name="email" type="email"> </div>
        <div class="form-group">
            <input class="form-control" placeholder="{{'公司名称'|_}}" name="company" type="text"> </div>
            <div class="form-group">
                <p>{{'请选择您所需要的oTMS产品服务'|_}}</p>
                <div class="row">
                     <div class="col-sm-4">
                        <div class="checkbox-wrap">
                        <input class="css-checkbox" id="s1" name="service" type="radio" value="1">
                        <label for="s1" class="css-label">{{'SaaS平台'|_}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="s2" name="service" type="radio" value="2">
                        <label for="s2" class="css-label">{{'招投标'|_}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="s3" name="service" type="radio" value="3">
                        <label for="s3" class="css-label">{{'两者均要'|_}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <p>{{'您是如何知道oTMS的？'|_}}</p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r1" name="leadSourceId" type="radio" value="1763877">
                        <label for="r1" class="css-label">{{'微博微信'|_}}</label>
                    </div>
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r2" name="leadSourceId" type="radio" value="1763875">
                        <label for="r2" class="css-label">{{'网络新闻'|_}}</label>
                    </div>
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r3" name="leadSourceId" type="radio" value="1763878">
                        <label for="r3" class="css-label">{{'搜索引擎'|_}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r4" name="leadSourceId" type="radio" value="1763881">
                        <label for="r4" class="css-label">{{'论坛BBS'|_}}</label>
                    </div>
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r5" name="leadSourceId" type="radio" value="1754753">
                        <label for="r5" class="css-label">{{'朋友介绍'|_}}</label>
                    </div>
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r6" name="leadSourceId" type="radio" value="1754752">
                        <label for="r6" class="css-label">{{'行业会议'|_}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r7" name="leadSourceId" type="radio" value="1763879">
                        <label for="r7" class="css-label">{{'报纸杂志'|_}}</label>
                    </div>
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r8" name="leadSourceId" type="radio" value="1763874">
                        <label for="r8" class="css-label">{{'广告'|_}}</label>
                    </div>
                    <div class="checkbox-wrap">
                        <input class="css-checkbox" id="r9" name="leadSourceId" type="radio" value="1764154">
                        <label for="r9" class="css-label">{{'oTMS渠道商'|_}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="{{'备注'|_}}" rows="7" name="note" cols="50"></textarea>
            <input class="form-control"  name="user_referer" value="{{user_referer}}" type="hidden"> 
            <input class="form-control"  name="user_visited_pages" value="{{user_visited_pages}}" type="hidden"> 
            <input class="form-control"  name="user_session_id" value="{{user_session_id}}" type="hidden"> 
        </div>
        <input id=demo class="button button-orange center-block" type="submit" placeholder="" value="{{'预约演示'|_}}">

        </form>
</div>
