description = "Page section highlighting OTMS products with a CTA"
==
<section class="section find-our-products-section"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-sm-6"> 
                <img src="{{ 'find-our-products-img.png' |media }}" alt="find our product" class="img-responsive center-block"> 
            </div> 
            <div class="col-sm-6"> 
                {% component 'editable' file="sections/otmsproducts-text" %}
            </div> 
        </div> 
    </div> 
</section>