// ==> how to page styles

.proccess-section {
  h2 {
    margin-top: 0;
  }
}
.strategy-section {
  background: #cef2f5;
  h2 {
    margin-top: 0;
  }
}
.implement-section {
  h2 {
    margin-top: 0;
  }
  img {
    margin-top: 5px;
  }
  p {
    margin-bottom: 40px;
  }
}
.standarts-section {
  background: #cef2f5;
  ul {
    padding-left: 15px;
  }
}
.number-box {
  display: table;
  margin-bottom: 20px;
  .text,.number {
    display: table-cell;
  }
  .text {
    vertical-align: middle;
    p {
      margin-bottom: 0;
    }
  }
  .number {
    padding-right: 15px;
    vertical-align: top;
    span {
      background: $blue-main-color;
      color: #fff;
      height: 30px;
      width: 30px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border-radius: 100%;
      font-size: 28px;
      padding: 0 13px;
    }
  }
  &.big {
    .number {
      span {
        height: 70px;
        width: 70px;
        padding: 0 23px;
        font-size: 40px;
      }
    }
  }
}
